*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
	font-size:16px;
	font-family: "Roboto", sans-serif;
}
body{
	min-height:700px;
	background:#34495E
}

h1,h2,h3,h4,h5,h6{
	font-family: "Montserrat", sans-serif
}
.nav-section1{
	background:#E0E0E0;
	display:flex;
	align-items:center;
	padding:8px;
	position:sticky;
	top:0px;
}
.nav-subsection1{
	width:20%;
	padding-left:20px;
}
.nav-subsection1 img{
	width:30px;
	
}
.nav-subsection1 a h1{
	display:inline-block;
	padding-left:10px;
	font-size:20px;
	color:#1ABC9C;
	
}
.nav-subsection1 a h1:hover{
	text-decoration:underline;
}
.nav-subsection2{
	width:80%;
	text-align:right;
	padding-right:40px;
}
.nav-subsection2 ul li{
	display:inline-block;
	list-style-type:none;
	width:8%;
	text-align:center;
	
}
.nav-subsection2 ul li a{
	text-decoration:none;
	font-size:18px;
	color:#1ABC9C;
}
#contact a{
	background:#1ABC9C;
	padding:5px 10px;
	color:white;
	border-radius:8px;
}
.hero{
	height:500px;
	text-align:left;
	padding:150px 150px 150px 250px;
	color:#fff;
}
.hero .introduction h1{
	font-size:40px;
	padding-bottom:10px;
}
.hero .introduction h2{
	font-size:30px;
	padding-bottom:10px;
}
.hero .introduction p{
	width:50%;
	word-spacing:2px;
	padding-bottom:25px;
}
.hero .introduction a{
	text-decoration:none;
	color:white;
	padding:5px 12px;
	background:#1ABC9C;
	border-radius:8px;
	font-size:18px;
	margin-right:25px;
}
.hero .introduction a#portfoliobutton{
	background:white;
	color:#1ABC9C;
}
.socialmediaicons {
	background:#E0E0E0;
	position:fixed;
	top:30%;
	z-index:100000
	
}
.socialmediaicons ul li{
	list-style-type:none;
	padding: 5px 5px 15px 3px;
}
.socialmediaicons ul li img{
    width:35px;
}
.introduction2{
	display:flex;
	padding:10px 10px;
	justify-content:space-between;
	background:#E0E0E0;
	margin:50px 30px;
}
.introduction2img{
	width:30%;
	margin-left:30px;
	align-self:center;
}
.introduction2img img{
	width:450px;
	
}
.introduction2content{
	width:60%;
	display:flex;
	flex-direction:column;
	margin-right:30px;
	padding:30px;
}
.introduction2content .divider{
	width:60%;
	margin:auto;
	height:3px;
	background:#34495e;
}
.introduction2content h2{
	text-align:center;
	font-size:27px;
	padding: 20px 0px 30px 0px;
	color:#1ABC9C;
}
.introcontent{
	padding:30px;
	font-size:18px;
	text-align:center;
	color:#555555;
}
.introcontent p,span{
	padding:5px 0px;
	font-size:18px;
}
.introcontent span{
	color:#1ABC9C;
}
#skills ul li{
	display:inline-block;
	list-style-type:none;
	padding-right:25px;
}
#skills ul li img{
	width:50px;
}
.portfolio{
	background:#E0E0E0;
	margin:50px 30px;
}
.portfolio .portfoliocontent h2{
	text-align:center;
	font-size:27px;
	padding: 20px 0px;
	color:#1ABC9C;
	
}
.portfolio .portfolioproject{
	display:flex;
	justify-content:space-around;
	margin:auto;
	width:80%;
	padding:20px 0px;
}
.portfolio .portfolioproject img{
	width:400px;
}
.portfolio .portfolioproject .partline{
	width:10px;
	background:#34495e;
}
.portfolio .portfolioproject .project{
	padding:15px;
	text-align:center;
	width:40%;
}
.portfolio .portfolioproject .project h2{
	font-size:25px;
	padding:15px;
	color:#555555;
}
.portfolio .portfolioproject .project p{
	padding-bottom:10px;
	font-size:18px;
	color:#555555;
}
.portfolio .portfolioproject .project  a{
	text-decoration:none;
	padding:8px 20px;
	background:#1ABC9C;
	color:white;
	font-size:20px;
	display:inline-block;
	margin-top:20px;
	border-radius:8px;
}
.skillsbarparent{
	background:#E0E0E0;
	margin:50px 30px;
}
.skillsbarparent .skillsbarhead h2{
	text-align:center;
	font-size:27px;
	padding: 20px 0px;
	color:#1ABC9C;
}
.skillsbarparent .barsparent{
	display:flex;
	width:80%;
	margin:auto;
	flex-wrap:wrap;
	justify-content:space-between;
	padding:20px 0px;
}
.skillsbarparent .barsparent .skillsbartag{
	width:45%;
	display:inline-block;
	margin:20px 0px;
	border:none;
	
}
.skillsbarparent .barsparent .skillsbartag p{
	color:#555555;
}
.skillsbarparent .barsparent .skillsbartag .skillsbar{
	height:30px;
	border:solid  2px;
	border-color:#34495e;
	
}
.skillsbarparent .barsparent .skillsbartag .skillsbar .bar1{
	height:28px;
	width:90%;
	background:green;
	border:none;
}
.skillsbarparent .barsparent .skillsbartag .skillsbar .bar2{
	height:28px;
	width:85%;
	background:green;
	border:none;
}
.skillsbarparent .barsparent .skillsbartag .skillsbar .bar3{
	height:28px;
	width:80%;
	background:green;
	border:none;
}
.skillsbarparent .barsparent .skillsbartag .skillsbar .bar4{
	height:28px;
	width:90%;
	background:green;
	border:none;
}
.skillsbarparent .barsparent .skillsbartag .skillsbar .bar5{
	height:28px;
	width:60%;
	background:green;
	border:none;
}
.skillsbarparent .barsparent .skillsbartag .skillsbar .bar6{
	height:28px;
	width:95%;
	background:green;
	border:none;
}
.skillsbarparent .barsparent .skillsbartag .skillsbar .bar7{
	height:28px;
	width:70%;
	background:green;
	border:none;
}
.contact{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:30px;
	margin:50px 30px;
	background:#E0E0E0;
}
.contactdetails{
	width:45%;
	text-align:center;
}
.contactdetails h2{
	text-align:center;
	font-size:27px;
	color:#1ABC9C;
	padding: 20px 0px;
}
.contactdetails p{
	font-size:18px;
	padding-bottom:10px;
	color:#555555;
}

 .contactdetails  ul.contacticons li{
	list-style-type:none;
	padding: 0px 10px;
	display:inline-block;
}
.contactdetails  ul.contacticons li img{
    width:20px;
}
.contactdetails form input{
	margin:10px 0px;
	padding:10px 0px 10px 10px;
}
.contactdetails form input[type="submit"]{
	padding:10px 15px;
	color:white;
	background:#1ABC9C;
}
.footer{
	min-height:80px;
	text-align:center;
	
}
.footer p{
	padding:10px 0px;
	font-size:20px;
	color:white;
}
.footer a{
	color:#1ABC9C;
	font-size:18px;
	display:inline block;
	margin-top:20px;
}
.thankyoupage{
	background:#E0E0E0;
	height:300px;
	text-align:center;
	margin:100px;
	width:80%;
	
}
.thankyoupage p{
	color:#1ABC9C;
	font-size:50px;
	padding:30px;
}




@media screen and (max-width:480px){
	
.nav-section1{
	display:block;
}
.nav-subsection1{
	width:100%;
	text-align:center;
	padding:10px;
}
.nav-subsection1 a h1{
	font-size:25px;
}
.nav-subsection2{
	width:100%;
	padding:20px 5px;
	text-align:left;
	
	
}
.nav-subsection2 ul li{
	padding-top:10px;
	padding-right:5px;
	padding-left:5px;
	padding-bottom:10px;
	width:18%;
	
	
}
.nav-subsection2 ul li a{
	text-decoration:none;
	font-size:18px;
	color:#1ABC9C;
	text-align:center;
	

}
#contact a{
	background:#1ABC9C;
	padding:5px 10px;
	color:white;
	border-radius:8px;
}
.hero{
	height:600px;
	padding:150px 30px 100px 50px;
	text-align:center;
	
}
.hero .introduction{
	padding:20px;
}
.hero .introduction h1{
	font-size:30px;
}
.hero .introduction h2{
	font-size:20px;
}
.hero .introduction p{
	width:100%;
	font-size:21px;
	padding-bottom:30px;
}
.hero .introduction a{
	font-size:21px;
}
.introduction2{
	
	flex-direction:column;
	padding:10px 10px;
	justify-content:center;
	margin:50px 30px;
}
.introduction2img{
	width:100%;
	margin:auto;
	align-self:center;
}
.introduction2img img{
	width:350px;
	display:block;
	margin:auto;
}
.introduction2content{
	width:100%;
	margin:auto;
	padding:30px 10px;
}
.introduction2content .divider{
	width:80%;
	margin:auto;
}
.introduction2content h2{
	text-align:center;
	font-size:35px;
	
	
}
.introcontent{
	padding:30px 0px;

}
.introcontent p,span{
	padding:5px 0px;
	font-size:20px;
}
#skills ul li{
	padding-right:20px;
}
#skills ul li img{
	width:30px;
}
.portfolio{
	background:#E0E0E0;
	margin:50px 30px;
}
.portfolio .portfoliocontent h2{
	font-size:35px;
}
.portfolio .portfolioproject{
	justify-content:center;
	flex-direction:column;
	width:100%;
	padding:20px 0px;
}
.portfolio .portfolioproject img{
	width:380px;
	display:block;
	margin:auto;
}
.portfolio .portfolioproject .partline{
	width:0px;
	background:#34495e;
}
.portfolio .portfolioproject .project{
	padding:15px;
	text-align:center;
	width:100%;
}
.portfolio .portfolioproject .project h2{
	font-size:35px;
}
.portfolio .portfolioproject .project p{
	font-size:18px;
}
.portfolio .portfolioproject .project  a{
	padding:10px 30px;
	
}
.contact{
	justify-content:center;
	flex-direction:column;
	align-items:center;
	padding:10px;
	margin:50px 30px;
	background:#E0E0E0;
}
.contactdetails{
	width:100%;
	text-align:center;
}
.contactdetails h2{
	font-size:35px;
}
.contactdetails p{
	font-size:20px;
}
.contactdetails form input{
	margin:10px 0px;
	padding:10px 0px 10px 10px;
	width:100%;
}
.contactdetails form input[type="submit"]{
	padding:10px 15px;
	width:30%;
}
.footer p{
	font-size:16px;
}
.footer a{
	
	font-size:18px;
}
}